# Logs
admin/logs
admin/*.log
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
admin/pnpm-debug.log*
admin/lerna-debug.log*

admin/node_modules
admin/.DS_Store
admin/dist
admin/dist-ssr
admin/coverage
admin/*.local

admin/cypress/videos/
admin/cypress/screenshots/

# Editor directories and files
admin/.vscode/*
!admin/.vscode/extensions.json
admin/.idea
admin/*.suo
admin/*.ntvs*
admin/*.njsproj
admin/*.sln
admin/*.sw?

api/node_modules
api/public/build
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/auth.json
api/npm-debug.log
api/yarn-error.log
api/.idea
api/.vscode

symbols.txt